{% extends 'base.html.twig' %}

{% block title %}Chat avec {{ receiver.fullName }}{% endblock %}

{% block body %}

    <h3>Chat avec {{ receiver.fullName }} </h3> 

    <div class="card overflow-auto" style="max-height: 50vh;" id="chat-messages">
        {% for message in messages %}
            {% if app.user.id == message.sender.id %}
                <div class="alert alert-success small">
                    <h5>{{ message.sender.fullName }}</h5> 
                    <p>{{ message.content }}</p>
                    <span class="small">{{ message.createdAt|date('H:i:s') }}</span>
                </div>
            {% else %}
                <div class="alert alert-secondary small">
                    <h5>{{ message.sender.fullName }}</h5> 
                    <p>{{ message.content }}</p>
                    <span class="small">{{ message.createdAt|date('H:i:s') }}</span>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="d-flex justify-content-end align-items-center gap-2 mt-3">
        {{ form_start(form, {'attr': {'class': 'd-flex align-items-center gap-2'}}) }}
        {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>
    
    

    <script>
        const eventSource = new EventSource("{{ mercure('/chat/' ~ app.user.id)|escape('js') }}");
        const chatMessages = document.getElementById("chat-messages");
        const currentUserId = {{ app.user.id|json_encode|raw }};
        const receiverId = {{ receiver.id|json_encode|raw }};
        const currentUserFullName = {{ app.user.fullName|json_encode|raw }};
        const chatReceiverFullName = {{ receiver.fullName|json_encode|raw }};

        function escapeHtml(text) {
            const div = document.createElement('div');
            div.textContent = text;
            return div.innerHTML;
        }

        eventSource.onmessage = function(event) {
            const data = JSON.parse(event.data);
            console.log(data);

            if (data.sender === receiverId || data.sender === currentUserId) {
                const isCurrentUser = data.sender === currentUserId;
                const messageHtml = `
                    <div class="${isCurrentUser ? 'alert alert-success' : 'alert alert-secondary'}">
                        <h6>${isCurrentUser ? currentUserFullName : chatReceiverFullName}</h6>
                        <div>
                            <p>${escapeHtml(data.message)}</p>
                            <small>${new Date().toLocaleTimeString()}</small>
                        </div>
                    </div>
                `;

                chatMessages.innerHTML += messageHtml;
    
            }
        };

    </script>

{% endblock %}
