{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}
{% block stylesheets %}
		{{ parent() }}
		{{ encore_entry_link_tags('article') }}
	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
		{{ encore_entry_script_tags('article') }}
	{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="card">
            <h1>{{ article.title }}</h1>
            <p>{{ article.content }}</p>

            <div class="row">
                <div class="col-auto">
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-warning">Modifier</a>
                </div>
                <div class="col-auto">
                    {{ include('article/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
        <div class="mb-3">
            <h4>Commenter</h4>
            {% include 'comment/_form.html.twig' %}
            <a href="{{ path('app_article_index') }}">retour</a>
        </div>
        <div>
        {% for comment in pagination %}
            <div>
                <h4>{{ comment.author }}</h4>
                <p>{{ comment.content }}</p>
                <p>{{ comment.createAt ? comment.createAt|date('Y-m-d H:i:s') : '' }}</p>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
